.row.no-gap {
    margin-bottom: 12px;
}
.row {
    margin-bottom: 20px;
}
div#loading {
    position: absolute;
    bottom: 0;
    top: 120px;
    right: 0;
    width: 100%;
    text-align: center;
}
button#cek-berita {
    position: fixed !important;
    bottom: 35px;
    left: 5%;
    width: 90%;
    z-index: 1;
}
button#kirim-laporan {
    position: fixed !important;
    bottom: 35px;
    left: 5%;
    width: 90%;
}
